<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Keyin-SD9-S3-FSDB-FinalSprint</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header">
        <div class="titleblock">
          <h1 class="website-name">PrecisionHire Pro</h1>
          <blockquote class="slogan">
            “Welcome to efficient hiring!”
          </blockquote>
        </div>
        <div class="btns-containerAnB">
          <div class="btns-containerA">
            <script>
              var loggedIn = true;
              var username = "User"; // replace with actual username
              if (loggedIn) {
                document.write(`
                  <a href="index.html" class="btnA">Home</a>
                  <a href="resumeSearch.html" class="btnA">Search</a>
                  <a href="google.ca" class="btnA">Log Out</a>
                `);
              } else {
                document.write(`
                  <a href="index.html" class="btnA">Home</a>
                  <a href="signup.html" class="btnA">Sign Up</a>
                  <a href="signin.html" class="btnA">Sign In</a>
                `);
              }
            </script>
          </div>
        </div>
      </div>
      <div class="user-section">
        <div class="welcome-message">
          <script>
            if (loggedIn) {
              document.write(`
                <span>
                  Welcome,<br /><span class="loggedInUsername">${username}</span>
                </span>
              `);
            } else {
              document.write(`
                <span>Not signed in.</span>
              `);
            }
          </script>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="outer-container1">
      <div class="inner-container">
        <form action="/users/signUp" method="post">
          <div class="container">
            <h1>New User Sign Up</h1>

            <label for="username"><b>Username</b></label>
            <input
              type="text"
              placeholder="Enter user's first and last name (ex. Jane Doe)"
              name="username"
              id="username"
              required
            />

            <label for="position"><b>Position</b></label>
            <input
              type="text"
              placeholder=" Enter position at company (ex. Hiring Manager)"
              name="position"
              id="position"
              required
            />

            <label for="email"><b>Email</b></label>
            <input
              type="text"
              placeholder="Enter company email"
              name="email"
              id="email"
              required
            />

            <label for="phone"><b>Phone Number</b></label>
            <input
              type="text"
              placeholder="Enter company phone number (ex. 709-555-5555)"
              name="phone"
              id="phone"
              required
            />

            <label for="location"><b>Location</b></label>
            <input
              type="text"
              placeholder="Enter primary office address (ex. 1234 Main St.)"
              name="location"
              id="location"
              required
            />

            <label for="psw"><b>Password</b></label>
            <input
              type="password"
              placeholder="Enter Password"
              name="password"
              id="psw"
              required
            />

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input
              type="password"
              placeholder="Repeat Password"
              name="psw_repeat"
              id="psw-repeat"
              required
            />
            <hr />
            <br />
            <p>
              By creating an account you agree to our
              <a href="#" class="signin-link">Terms & Privacy</a>.
            </p>
            <button type="submit" class="registerbtn">Sign Up</button>
          </div>
        </form>
        <div class="container signin">
          <p>
            Already have an account? <a href="signin.html" class="signin-link">Sign in</a>.
          </p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="footercontentA">
      <div class="social-links">
        <a href="https://www.facebook.com/" class="social-icon">
          <img src="images/FacebookLogo.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/" class="social-icon">
          <img src="images/InstagramLogo.png" alt="Instagram">
        </a>
        <a href="https://twitter.com/home" class="social-icon">
          <img src="images/TwitterLogo.png" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/" class="social-icon">
          <img src="images/YouTubeLogo.png" alt="YouTube">
        </a>
      </div>
      <div>
        <p class="footercontentB">
          &copy; 2024 - MIT License<br>
          <a href="https://github.com/laurenwilson27" target="_blank">Lauren Wilson</a>
          <a href="https://github.com/natchiarot" target="_blank">Nat Chiarot</a>
          <a href="https://github.com/DanteOnTheBass" target="_blank">Steven Squires</a>
          <a href="https://github.com/mitchell-barkley" target="_blank">Mitchell Barkley</a>
        </p>
      </div>
      <div class="copyright">
        &trade; 2024 Money4Lifeforce Ltd. All rights are reserved.
      </div>
    </div>
    <div class="footercontentB">
      <div class="back-to-top">
        <a href="#top" id="backToTopBtn">Back to Top</a>
      </div>
    </div>
  </footer>
</body>
</html>
